  <div class="control-group">
    <%= f.label @attribute_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field @attribute_name, :class => 'datepicker' %>
      <i class="icon-calendar" style="margin: -2px 0 0 -26px; pointer-events: none; position: relative;"></i>
    </div>
  </div>

