
body {
  background: url(bg.png);
}

// Remove ugly will_filter styles
.wf_grey_button {
  white-space:nowrap;
}

// End will_filter removal

.outer-container {
  background: #fff;
  min-height: 100%;
  border: 12px solid #fff;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  margin-top: 12px;
  margin-bottom: 36px;
}

.header {
  margin-bottom: 1em;
}

.hero {
  background-image: url(keyboard.png);
  background-size: cover;
  min-height: 150px;
  margin-bottom: 1em;
}

.hero strong {
  display: block;
  width: 30%;
  padding: 2em 24px;
  font-family: Georgia;
  font-size: 2.4em;
  line-height: 1.5;
  font-style: italic;
  font-weight: normal;
  color: #fff;
}

.content {
  padding: 12px;
  font-size: 18px;
  line-height: 1.8;
}

.content p,
.content li {
  font-family: Georgia;
  margin: 1.25em 0;
}

.fieldLabel {
  display: block;
  font-size: 18px;
  margin: 0 0 0.5em;
}

.big-footer {
  margin-top: 3em;
}

.big-footer .span3 {
  border-top: 1px solid #ddd;
}

.big-footer h2 {
  font-size: 14px;
}

.big-footer h2,
.big-footer ul {
  margin-left: 12px;
}

.connect,
.copyinfo {
  float: right;
  clear: right;
  width: 350px;
  text-align: right;
}

.copyinfo {
  color: #666;
  font-size: 11px;
  margin-top: 10px;
}

.navbar-fixed-top .brand {
  -moz-transition: all 0.2s linear 0s;
  color: #000000;
  float: right;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}
